body {
  background: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
}
.logo_row {
  display: flex;
  justify-content: center;
}
#logo {
  margin-top: 10px;
  width: 50px;
}
.film_select {
  margin: 10px 50px;

  text-align: center;
}
input {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin-top: 15px;
  height: 30px;
  border-radius: 5px;
  border-color: #00000000;
  font-size: 1em;
}
button {
  background: #e50913;
  color: white;
  border: none;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

button:hover {
  background-color: #b1060f;
  cursor: pointer;


}
