body {
  background: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: sans-serif;
}

.container {
  box-sizing: border-box;
  padding: 0 50px 0 50px;
}

.logo_row {
  display: flex;
  justify-content: center;
}

#logo {
  margin-top: 10px;
  width: 50px;
}

.film_select {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin-top: 15px;
  height: 30px;
  border-radius: 5px;
  border-color: #00000000;
  font-size: 1em;
}

button {
  background: #e50913;
  color: white;
  border: none;
  width: 100%;
  height: 35px;
  margin: 100px 0 100px 0;
  border-radius: 5px;

}

button:hover {
  background-color: #b1060f;
  cursor: pointer;
}

p {
  color: #ffffff55;
  text-align: justify;
}

.drag_item {
  width: 100%;
  height: 30px;
  background: white;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;

}

.drag_item_inner {
  color: black;
  height: 100%;
  line-height: 30px;
  padding-left: 20px;
  vertical-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
}

.drag_burger {
  position: relative;
  width: 15px;
  height: 15px;
  padding: 7.5px;
  right: 5px;
  left:auto;
}


@media only screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }

}
